body,
html {
  font-size: 18px;
}
.full-height {
  height: 100vh;
}

.left__content {
  background-color: rgb(115, 134, 213);
}
.left__content .nav__header {
  font-size: 35px;
  font-weight: bold;
  color: white;
  background-color: rgb(109, 127, 204);
}

.left__content .nav__body .nav-link {
  font-size: 20px;
  color: white;
}

.left__content .nav__body .active {
  background-color: rgb(109, 127, 204);
}
.left__content .nav__body .nav-link:hover {
  color: rgb(115, 134, 213);
  background-color: white;
}

.right__content {
  background-color: rgb(172, 182, 229);
}

.content__table {
  width: 90%;
  margin: 0 auto;
}
.content__table .card-body h3 {
  font-size: 40px;
}

.content__table .card-body button {
  font-size: 20px;
}

.content__table .card-body .search .input-group-text:hover {
  cursor: pointer;
  background-color: red;
  color: white;
}
.content__table .card-body .table__content .table__header {
  font-size: 20px;
  font-weight: bold;
}
.right__content .modal .modal-title {
  font-size: 30px;
  font-weight: bold;
  color: red;
  margin: 0 auto;
}

.right__content .modal .modal-body .form-group .input-group-prepend {
  width: 50px;
}
.right__content .modal .modal-body .form-group .input-group-text {
  width: 100%;
}
.right__content .modal .modal-body .form-group .input-group-text,
.right__content .modal .modal-body .form-group .form-control {
  font-size: 20px;
}

.right__content .modal .modal-footer button {
  font-size: 20px;
}
